<div style="display: flex;">
  <mat-card *ngFor="let movie of movies; let i=index;" style="flex: 1 1 auto;">
    <mat-card-header style="height: 100px">
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img style="height: 400px" src={{movie.ImagePath}} />
    <mat-card-actions>
      <button mat-button (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
        color="primary">Genre</button>
      <button mat-button (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio)"
        color="primary">Director</button>
      <button mat-button (click)="openSynopsisDialog(movie.Description)" color="primary">Synopsis</button>
      <mat-icon *ngIf="FavoriteMovies.indexOf(movie._id) == -1" (click)="toggleFavorite(movie._id)">favorite_border
      </mat-icon>
      <mat-icon *ngIf="FavoriteMovies.indexOf(movie._id) > -1" (click)="toggleFavorite(movie._id)">favorite</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>